.disappear {
    
    animation: fadeIn 3.5s;
}
.welcomeScreen {
    opacity: 0;
    animation: welcomeScreenAni 3s;
    animation-fill-mode: forwards;
}
@keyframes welcomeScreenAni {
    0% {
        opacity: 1;
        color: white;
        transform: translate(0%,500%);
    }
    90% {
        opacity: 0;
        color: white;

    
    }
    100% {
        display: none;
        color: white;
        opacity: 0;
    }    

}
body {
    background-color: black;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
}
.boxes {
    background-color: black;
    border-radius: 20px;
    border-color: green;
    border: 10px solid;
    transition: 1s;
    padding: 20px;
    transform: translate(0%,20px);
}
.boxes:hover {
    border-radius: 25px;
    border-color: rgb(54, 54, 54);
    transition: 1s;
}