body {
    background-color: black;
    color: white;
}
.animation {
    animation: startAnimation 2s;
    animation-fill-mode: forwards;
    color: rgb(39, 39, 39);
}
@keyframes startAnimation {
    0% {
        transform: translate(0px,10%);
        opacity: 0;
    }

    40%{
       color: rgb(39, 39, 39); 
    }
    100% {
        color: white;

    }
}
