/* Rules : 
Blocks
0 Lines for blocks (things who belong together)
1 Line for things in one big group, but who don't belong together
2 Lines for seperat blocks, who aren't in a group

Headings
Group Blocks heading will be written 1 Line before the other blocks
Normal heading in or out of a group will be written 0 Lines before the block
*/
/* Positioning*/

.middle {
    width: 25%;
    height: auto;
    display: block;
    margin: 325px auto;
    
}

.absoulute {
    position: absolute;
}
.oneDown {
    transform: translate(20%,40%);
}
.twoDown {
    transform: translate(20%, 200%);
}
.threeDown {
    transform: translate(0%,400%);
}
.fourDown {
    transform: translate(0%, 920%);
}


/*Animations*/
.onload_animation {
    animation: onload 3s;
}
@keyframes  onload {
    0%{
        opacity: 0;
        transform: translate(-5%,0);
    }
    100% {
    }
    
}
.buttonAni {
    animation:  button 0.5s;
}
@keyframes button {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.87);
    }
    90%{
        transform: scale(0.9);
    }

}
.buttonAni2 {
    animation-name: buttonAni2 2s;

}
@keyframes buttonAni2 {
    0%{
        opacity: 0;

    }
    100% {
        opacity: 1;
    }

}
/*colors*/
.grey {
    color: rgb(66, 66, 66);
}
body {
    background-color: #141414;
}

