/* Rules : 
Blocks
0 Lines for blocks (things who belong together)
1 Line for things in one big group, but who don't belong together
2 Lines for seperat blocks, who aren't in a group

Headings
Group Blocks heading will be written 1 Line before the other blocks
Normal heading in or out of a group will be written 0 Lines before the block
*/
/* Positioning*/

.middle {
    width: 25%;
    height: auto;
    display: block;
    margin: 325px auto;
    
}

.absoulute {
    position: absolute;
}
.oneDown {
    transform: translate(20%,40%);
}
.twoDown {
    transform: translate(20%, 200%);
}
.threeDown {
    transform: translate(0%,400%);
}
.fourDown {
    transform: translate(0%, 920%);
}


/*Animations*/
.onloadOne {
    animation: onloadOneKeyframe 6s;
}
@keyframes onloadOneKeyframe {
    0%{
        opacity: 0;
        color: white;
        transform: translate(0%,400%);
    }
    75% {
        opacity: 1;
        color: white;
        transform: translate(0%,400);
    }

}
.onloadTwo {
    animation: onloadTwoKeyframe 10s;
}
@keyframes onloadTwoKeyframe {
    0% {
        color: white;
        opacity: 0;
        transform: translate(0%,400%);
    }
    25%{
        color: white;
        opacity: 0;
        transform: translate(0%,400%);
    }
    75%{
      color: white;
      opacity: 1;  
      transform: translate(0%,400%);
    }

    100%{
        
    }
}
.onloadThree{
    animation: onloadThreeKeyframe 7s;
}
@keyframes onloadThreeKeyframe {
    0%{
        background-color: black
    }
    50% {
        background-color: black;
    }
    70%{
        background-color: black;

    }
}
.onloadFour{
    animation: onloadFourKeyframe 8s;
}
@keyframes onloadFourKeyframe {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.onloadFive {
    animation: onloadFiveKeyframe 6s;
}
@keyframes onloadFiveKeyframe {
    0%{
        opacity: 0;
        transform: translate(0%,400%);
    }
    85%{
        color: white;
    }
    90% {
        opacity: 1;
        color: white;
        transform: translate(0%,400);
    }
}
.buttonAni {
    animation:  button 0.5s;
}
@keyframes button {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.87);
    }
    90%{
        transform: scale(0.9);
    }

}
.buttonAni2 {
    animation-name: buttonAni2 2s;

}
@keyframes buttonAni2 {
    0%{
        opacity: 0;

    }
    100% {
        opacity: 1;
    }

}
/*colors*/
.grey {
    color: rgb(122, 122, 122);
}
body {
    background-color: #141414;
}

