* {
    cursor: url(../images/cursor.png), auto;
}
.designList {
    background-color: black !important;
    color: white !important;
    border-radius: 5px;
    padding: 10px;
}
body {
    background-color: rgb(14, 14, 14);
    animation: onload 1.5s;
    overflow-x: hidden
}
@keyframes onload{
    0%{
        transform: translate(150%,0%);
    }
    100%{

    }
}
.fadeOut {
    animation: fadeOutKeyframe 1s;
}
@keyframes fadeOutKeyframe {
    0%{}
    100% {
        transform: translate(-150%,0%);
    }
}